@font-face {
  font-family: 'Roboto';
  src: url(../../../fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url(../../../fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: 'Rubik';
  src: url(../../../fonts/Rubik/static/Rubik-Regular.ttf);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

/* Header */
.header {
  position: absolute;
  width: 100%;
}
.header__heading--hidden {
  visibility: hidden;
  position: absolute;
}
.container {
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
}
.content {
  padding-top: 100px;
}
.header__content {
  display: flex;
  justify-content: space-between;
  max-width: 578px;
  width: 100%;
  padding-top: 12px;
}
.nav {
  max-width: 410px;
  width: 100%;
  align-self: center;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.menu__item {
  list-style: none;
}
.menu__item::first-letter {
  text-transform: capitalize;
}
.menu__link {
  text-decoration: none;
  font-weight: 500;
}
.menu__link--footer {
  font-weight: 400;
}
.menu__link:hover {
  text-shadow: #70cb0e 0 0 2px, #70cb0e 0 0 2px, #70cb0e 0 0 2px, #70cb0e 0 0 2px;
}
.menu__link--active {
  pointer-events: none;
  text-shadow: #70cb0e 0 0 2px, #70cb0e 0 0 2px, #70cb0e 0 0 2px, #70cb0e 0 0 2px;
}
.button {
  background-color: #70cb0e;
  -webkit-transition: width 1s, height 1s, background-color 1s, -webkit-transform 1s;
  transition: width 1s, height 1s, background-color 1s, transform 1s;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 15px;
}
.button:hover {
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}
.button:active {
  background: #5eac0b;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

/* Main content heading */
.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}
.main {
  width: 100%;
  margin-left: calc(-1160px - 111px);
}
.heading-container {
  padding-top: 5%;
}
.heading {
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.6px;
  font-weight: 500;
}
.heading::first-letter {
  text-transform: capitalize;
}

/* Sidebar */
.sidebar {
  position: sticky;
  display: flex;
  top: 0;
  height: fit-content;
  z-index: 1;
}
.sidebar-menu {
  background: url(../../../assets/images/pets-sidebar/sidebar-background.svg) center no-repeat;
  margin-top: 290px;
  width: 111px;
  height: 380px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}
.sidebar-menu__arrow {
  display: flex;
  visibility: hidden;
  margin-top: 290px;
  margin-bottom: 380px;
}
.arrow-img {
  width: 45px;
  height: 45px;
}
.sidebar-icon {
  list-style: none;
  position: relative;
  border-radius: 50%;
}
.icon-container:hover {
  box-shadow: 0 0 0 4px #74d40d, 0 0 13px #74d40d;
}
.icon-container {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0 2px #fff, 0 0 13px #fff;
}
.icon-active .icon-container {
  pointer-events: none;
  box-shadow: 0 0 0 4px #74d40d, 0 0 13px #74d40d;
}
.tooltip {
  visibility: hidden;
  display: inline-block;
  position: absolute;
  padding: 4px 8px;
  height: fit-content;
  max-width: fit-content;
  margin-left: 80px;
  margin-top: -80px;
  background-color: #74d40d;
  text-align: center;
  padding-top: 5px;
  z-index: 2;
}
.tooltip-block {
  position: relative;
}
.tooltip-link {
  text-decoration: none;
}
.tooltip-block::before {
  position: absolute;
  content: '';
  left: -23px;
  bottom: 30px;
  border: 7px solid transparent;
  border-top: 10px solid #74d40d;
  transform: rotate(90deg);
}
.tooltip-heading {
  text-transform: uppercase;
}
.tooltip-location::first-letter {
  text-transform: capitalize;
}
.tooltip__link-block {
  width: 147px;
  height: 40px;
  display: none;
  align-items: center;
  justify-content: center;
  background: #ffb600;
  border-radius: 30px;
}
.tooltip__link {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}
.sidebar-icon:hover .tooltip {
  visibility: visible;
}
.text {
  font-size: 16px;
  line-height: 19px;
}

/* Animal block */
.video-container {
  padding-top: 80px;
  margin-bottom: 50px;
}
.playlist {
  display: grid;
  grid-gap: 1.8%;
}
.main-item {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}
.item1 {
  grid-column: 1;
  grid-row: 2 / 3;
}
.item4 {
  grid-column: 4;
  grid-row: 2 / 3;
}
.button--feed {
  display: none;
}

/* Info block */
.info-container {
  margin-bottom: 125px;
}
.info-block {
  display: grid;
  background-color: #a7e1ff;
  width: inherit;
  margin: 30px 0 20px 0;
  padding: 20px 0;
}
.info1 {
  grid-column: 1;
  grid-row: 1;
  width: 570px;
}
.info2 {
  grid-row: 1;
  grid-column: 2;
  width: 570px;
}
.spoilers {
  display: grid;
  grid-gap: 20px;
}
.spoiler-details {
  background: #a7e1ff;
  margin-bottom: 20px;
  width: 570px;
  position: relative;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}
.spoiler-details:not([open]) {
  height: 61px;
  padding: 20px;
}
.spoiler-details[open] {
  min-height: 142px;
  padding: 20px 80px 20px 20px;
}
.spoiler-details1 {
  grid-row: 2;
  grid-column: 1;
}
.spoiler-details2 {
  grid-row: 2;
  grid-column: 2;
}
.spoiler-details3 {
  grid-row: 3;
  grid-column: 1;
}
.spoiler-details4 {
  grid-row: 3;
  grid-column: 2;
}
.spoiler-summary::marker {
  display: none;
}
.spoiler-summary::-moz-list-bullet {
  list-style-type: none;
}
.spoiler-summary::marker {
  display: none;
}
.spoiler-summary {
  display: block;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.spoiler-summary:after {
  top: 50%;
  right: 0;
  margin-right: 20px;
  color: transparent;
  background: url(../../../assets/icons/buttons/arrow-right.svg) no-repeat 50% 50% / 45px 45px;
  transform: translateY(-50%) rotate(90deg);
  width: 45px;
  height: 45px;
  content: '';
  position: absolute;
  cursor: pointer;
  transition: transform 0.5s;
}
.spoiler-details[open] .spoiler-summary:after {
  transform: translateY(-50%) rotate(-90deg);
}
.spoiler-details[open] .spoiler-text {
  animation: sweep 0.5s ease-in-out;
}
@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.spoiler-summary:focus {
  outline: 0;
}

/* Footer */
.footer {
  position: relative;
  height: 270px;
  width: 100%;
  background-color: #dff5b0;
}
.footer-background {
  background-image: url(../../assets/images/footer/footer.png);
  position: absolute;
  height: 323px;
  width: 100%;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-content {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-links__logo-button {
  display: flex;
  justify-content: space-between;
  max-width: 50px;
  width: 100%;
}
.footer-logo {
  transform: matrix(0.85, 0, 0, 0.85, -9, 0);
}
.donate__button--right {
  display: none;
}
.button--donate {
  width: 230px;
  padding: 15px;
}
.footer-links__links {
  display: flex;
  justify-content: space-between;
  max-width: 962px;
  width: 100%;
}
.footer-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 15px;
  grid-column-gap: 80px;
}
.socials {
  max-width: 190px;
  width: 100%;
}
.social {
  display: flex;
  justify-content: space-between;
}
.footer-credentials {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}
.schools-logo {
  display: flex;
  justify-content: space-between;
  max-width: 295px;
  width: 100%;
}
.rss-logo,
.yd-logo {
  cursor: default;
}
.footer-copyright {
  display: flex;
  justify-content: space-between;
  max-width: 790px;
  width: 100%;
  align-self: flex-end;
  cursor: default;
}

/* Pop-up */
.cover {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.form-feedback {
  width: 630px;
  height: 436px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  top: calc(50vh - 320px);
  left: calc(50vw - 240px);
  background-color: #fff;
}
.form-feedback--cross {
  width: 40px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 25px;
}
.form-feedback--cross:after {
  content: '';
  height: 40px;
  border-left: 1px solid #000;
  position: absolute;
  transform: rotate(45deg);
  left: 28px;
}
.form-feedback--cross:before {
  content: '';
  height: 40px;
  border-left: 1px solid #000;
  position: absolute;
  transform: rotate(-45deg);
  left: 28px;
}
.form-content {
  width: 470px;
  height: 336px;
}
.input,
.textarea {
  border: 1px solid #9ca498;
  padding: 10px 11px 10px;
}
#name,
#email,
.textarea-feedback {
  background-color: #dff5b0;
}
.input {
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
}
textarea {
  width: 100%;
  height: 180px;
  margin-bottom: 20px;
}
#send,
#next {
  background-color: #70cb0e;
  margin: 0 auto;
  width: 177px;
  height: 40px;
}
.form-donate {
  width: 630px;
  height: 339px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  top: calc(50vh - 320px);
  left: calc(50vw - 240px);
  background-color: #fff;
}
.form-donate-content {
  width: 470px;
  height: 239px;
}
#animal-list {
  width: 100%;
  height: 39px;
  background-color: #dff5b0;
  text-align-last: center;
}
#amount {
  width: 303px;
  margin-right: 3px;
}
#currency {
  width: 159px;
  height: 39px;
}
#animal-list,
#amount,
#currency {
  margin-bottom: 8px;
}
.textarea-donate {
  height: 85px;
}
.form-pay {
  width: 630px;
  height: 389px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  top: calc(50vh - 320px);
  left: calc(50vw - 240px);
  background-color: #fff;
}
.form-background-card {
  position: absolute;
  width: 358px;
  height: 203px;
  left: 50px;
  top: 50px;
  background: linear-gradient(0deg, #dcdcdc, #dcdcdc), linear-gradient(0deg, #dcdcdc, #dcdcdc), #dcdcdc;
  border-radius: 10px;
  z-index: 1;
}
.form-background-card-back {
  position: absolute;
  width: 326px;
  height: 189px;
  left: 254px;
  top: 100px;
  background: #c6c5c5;
  border-radius: 10px;
  z-index: 0;
}
#card-number,
#cadholder-name {
  width: 306px;
}
#card-month,
#card-year {
  width: 80px;
}
.card-number,
.card-month,
.card-year,
.cardholder-name,
.cvc {
  text-align-last: center;
}
.card-number {
  position: absolute;
  width: 306px;
  height: 39px;
  left: 26px;
  top: 35px;
  display: flex;
}
.card-month {
  position: absolute;
  left: 26px;
  top: 82px;
}
.card-year {
  position: absolute;
  left: 110px;
  top: 82px;
}
.cardholder-name {
  position: absolute;
  left: 26px;
  top: 129px;
  display: flex;
}
.cvc-background--bold-stripe {
  width: 326px;
  position: absolute;
  height: 37px;
  left: -217px;
  top: -45px;
  background: linear-gradient(0deg, #a8a8a8, #a8a8a8), linear-gradient(0deg, #a8a8a8, #a8a8a8), linear-gradient(0deg, #a8a8a8, #a8a8a8), linear-gradient(0deg, #a8a8a8, #a8a8a8),
    linear-gradient(0deg, #a8a8a8, #a8a8a8), linear-gradient(0deg, #a8a8a8, #a8a8a8), #a8a8a8;
}
.cvc-background--thin-stripe {
  position: absolute;
  content: '';
  width: 326px;
  height: 5px;
  left: -217px;
  background: linear-gradient(0deg, #a8a8a8, #a8a8a8), linear-gradient(0deg, #a8a8a8, #a8a8a8), linear-gradient(0deg, #a8a8a8, #a8a8a8), linear-gradient(0deg, #a8a8a8, #a8a8a8),
    linear-gradient(0deg, #a8a8a8, #a8a8a8), linear-gradient(0deg, #a8a8a8, #a8a8a8), #a8a8a8;
  z-index: -1;
}
.thin-stripe-1 {
  top: 0;
}
.thin-stripe-2 {
  top: 10px;
}
.thin-stripe-3 {
  top: 20px;
}
.thin-stripe-4 {
  top: 30px;
}
.cvc {
  position: absolute;
  width: 75px;
  height: 35px;
  left: 215px;
  top: 73px;
  display: flex;
}
#cvc {
  width: 75px;
  height: 35px;
}
#pay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 150px;
  height: 40px;
  left: calc(50% - 150px / 2);
  top: 309px;
}
input:invalid {
  border: 1px solid red;
}
.hidden {
  display: none;
}
#send.invalid {
  opacity: 50%;
}

@media screen and (max-width: 1440px) {
  .sidebar-menu {
    display: none;
  }
  .tooltip::before {
    position: absolute;
    content: '';
    left: -15px;
    bottom: 15px;
    border: 7px solid transparent;
    border-top: 10px solid #74d40d;
    transform: rotate(90deg);
  }
  .sidebar-menu__arrow {
    z-index: 1;
    display: block;
    visibility: visible;
    cursor: pointer;
    position: fixed;
  }
  .sidebar-menu__arrow:hover {
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  }
  .sidebar-menu__arrow--active {
    transform: rotateY(180deg);
    margin-left: 110px;
  }
  .sidebar-menu--active {
    visibility: visible;
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .heading-container {
    padding-top: 60px;
  }
  .video-container {
    max-width: 610px;
    margin: 0 auto;
  }
  .playlist {
    display: flex;
    flex-wrap: wrap;
  }
  .playlist__item:not(.main-item) {
    width: 290px;
    height: 167px;
    margin-top: 20px;
    margin-left: 5px;
  }
  .main-item {
    width: 600px;
    height: 338px;
  }
  .info-container {
    max-width: 600px;
  }
  .info-block {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .info {
    padding-top: 10px;
    padding-left: 10px;
  }
  .info2 {
    grid-column: 1;
    grid-row: 2;
  }
  .spoiler-details {
    width: 100%;
  }
  .spoiler-details1 {
    grid-row: 1;
    grid-column: 1;
  }
  .spoiler-details2 {
    grid-row: 3;
    grid-column: 1;
  }
  .spoiler-details3 {
    grid-row: 2;
    grid-column: 1;
  }
  .spoiler-details4 {
    grid-row: 4;
    grid-column: 1;
  }
  .footer-links__logo-button {
    max-width: 200px;
  }
  .footer-copyright {
    max-width: 655px;
  }
}

@media screen and (max-width: 980px) {
  .tooltip__link-block {
    display: flex;
  }
  .tooltip::before {
    display: none;
  }
  .footer-background {
    height: 390px;
  }
  .footer {
    height: 359px;
  }
  .footer-content {
    padding: 5px 20px;
  }
  .footer-links__logo-button {
    max-width: 102px;
    width: 100%;
  }
  .footer-links__links {
    max-width: 570px;
  }
  .donate__button--left {
    display: none;
  }
  .donate__button--right {
    display: block;
  }
  .button--donate {
    width: 280px;
  }
  .footer-menu {
    row-gap: 16px;
    column-gap: 50px;
  }
  .footer-credentials {
    flex-wrap: wrap;
    padding: 45px 20px 0;
  }
  .schools-logo {
    max-width: 360px;
  }
  .footer-copyright {
    padding-top: 45px;
    display: flex;
    flex-flow: column;
    text-align: center;
  }
  .copyright {
    order: 2;
    padding: 10px 0;
  }
  .designer {
    order: 1;
  }
}

@media screen and (max-width: 768px) {
  .button--donate {
    width: 210px;
  }
  .footer-links__links {
    max-width: 447px;
    width: 100%;
    padding-top: 2px;
  }
  .footer-menu {
    row-gap: 16px;
    column-gap: 15px;
  }
  .footer-credentials {
    flex-wrap: wrap;
    padding: 45px 20px 0;
  }
  .schools-logo {
    max-width: 310px;
  }
}

@media screen and (max-width: 640px) {
  .header__content {
    max-width: 590px;
    padding-top: 10px;
    padding-left: 18px;
  }
  .footer {
    height: 335px;
  }
}
@media screen and (max-width: 600px) {
  .header__content {
    padding-left: 10px;
  }
  .nav {
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 300px;
    transform: translate(100%, 0px);
    background-color: #a7e1ff;
    padding: 40px 30px 30px 30px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .nav--active {
    transform: translate(0px, 0px);
  }
  .menu__burger {
    z-index: 5;
    display: block;
    position: relative;
    width: 36px;
    height: 22px;
    cursor: pointer;
    right: 10px;
    top: 18px;
  }
  .menu__burger::before,
  .menu__burger::after {
    content: '';
  }
  .menu__burger::before {
    top: 0px;
  }
  .menu__burger::after {
    bottom: 0px;
  }
  .menu__burger span {
    top: 10px;
  }
  .menu__burger::before,
  .menu__burger::after,
  .menu__burger span {
    height: 2px;
    width: 100%;
    position: absolute;
    background: #000;
    margin: 0 auto;
  }
  .menu {
    flex-flow: column;
    max-height: 222px;
    height: 100%;
  }
  .menu__item:not(:first-child) {
    padding-bottom: 20px;
  }
  .menu__link {
    font-family: 'Rubik';
    font-size: 22px;
    line-height: 28.6px;
  }
  .menu__item--cross {
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 25px;
  }
  .menu__item--cross:after {
    content: '';
    height: 40px;
    border-left: 1px solid #000;
    position: absolute;
    transform: rotate(45deg);
    left: 28px;
  }
  .menu__item--cross:before {
    content: '';
    height: 40px;
    border-left: 1px solid #000;
    position: absolute;
    transform: rotate(-45deg);
    left: 28px;
  }
  .sidebar-icon:nth-child(5) {
    display: none;
  }
  .video-container {
    max-width: 320px;
  }
  .playlist {
    display: grid;
    grid-template-rows: 3;
    grid-template-columns: 2;
    padding: 0 10px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }
  .main-item {
    grid-column: 1 / 3;
    grid-row: 1;
    width: 300px;
    height: 169px;
  }
  .playlist__item:not(.main-item) {
    width: 140px;
    height: 82px;
    margin: 0 auto;
  }
  .item1 {
    grid-row: 3;
    grid-column: 1;
  }
  .item2 {
    grid-row: 3;
    grid-column: 2;
  }
  .item3 {
    grid-row: 4;
    grid-column: 1;
  }
  .item4 {
    grid-row: 4;
    grid-column: 2;
  }
  .feed__button {
    align-self: center;
    grid-row: 2;
    grid-column: 1 / 3;
  }
  .button--feed {
    display: block;
    width: 300px;
  }
  .info-container {
    max-width: 300px;
  }
  .info-block {
    max-width: 300px;
    margin: 30px 0 24px;
  }
  .text {
    max-width: 300px;
    padding: 10px 10px 5px;
  }
  .spoilers {
    width: 300px;
    grid-gap: 0;
  }
  .spoiler-details[open] {
    min-height: 100px;
    width: 300px;
  }
  .footer-background {
    height: 805px;
    background-size: inherit;
  }
  .footer {
    height: 742px;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .footer-links__logo-button {
    align-self: center;
  }
  .footer-links__links {
    flex-flow: column;
  }
  .footer-nav {
    padding-top: 37px;
  }
  .footer-menu {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 36px);
    grid-row-gap: 0px;
  }
  .footer-menu-item:nth-child(2) {
    grid-row: 3;
  }
  .footer-menu-item:nth-child(3) {
    grid-row: 2;
  }
  .menu__link--footer {
    font-family: 'Roboto';
    font-size: 18px;
  }
  .socials {
    order: 3;
    align-self: center;
    padding-top: 10px;
  }
  .footer-credentials {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 10px;
  }
  .schools-logo {
    padding: 0;
    order: 1;
    position: relative;
    max-width: 600px;
  }
  .yd-logo {
    padding-left: 60px;
  }
  .donate__button--right {
    display: none;
  }
  .donate__button--left {
    display: block;
    order: 2;
    width: 213px;
    margin: 0 auto;
    padding: 40px 0;
  }
  .button--donate {
    padding: 13px 16.5px;
  }
  .footer-copyright {
    order: 2;
    padding-top: 58px;
    padding-left: 5px;
  }
  .copyright {
    order: 2;
    width: 90%;
    padding-top: 2px;
    padding-left: 32px;
  }
  .copyright span {
    display: none;
  }
  .designer {
    order: 1;
    margin: -13px 60px 8px;
  }
  .footer-copyright {
    width: 64%;
    margin: 0 auto;
  }
}
