@font-face {
  font-family: 'Roboto';
  src: url(../../fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url(../../fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: 'SceneW01-Black';
  src: url(../../fonts/SceneW01-Black.ttf);
}
@font-face {
  font-family: 'Rubik';
  src: url(../../fonts/Rubik/static/Rubik-Regular.ttf);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

/* Hero background */
.hero {
  background-image: url(../../assets/images/hero/hero.png), radial-gradient(71.89% 152.21% at 40.1% 50%, #b5e6ff 0%, #59c3fb 100%);
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
}

/* Header */
.header {
  position: absolute;
  width: 100%;
}
.header__heading--hidden {
  visibility: hidden;
  position: absolute;
}
.container {
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
}
.header__content {
  display: flex;
  justify-content: space-between;
  max-width: 578px;
  width: 100%;
  padding-top: 12px;
}
.nav {
  max-width: 410px;
  width: 100%;
  align-self: center;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.menu__item {
  list-style: none;
}
.menu__item::first-letter {
  text-transform: capitalize;
}
.menu__link {
  text-decoration: none;
  font-weight: 500;
}
.menu__link--footer {
  font-weight: 400;
}
.menu__link:hover {
  text-shadow: #70cb0e 0 0 2px, #70cb0e 0 0 2px, #70cb0e 0 0 2px, #70cb0e 0 0 2px;
}
.menu__link--active {
  pointer-events: none;
  text-shadow: #70cb0e 0 0 2px, #70cb0e 0 0 2px, #70cb0e 0 0 2px, #70cb0e 0 0 2px;
}
.menu__burger {
  display: none;
}

/* Watch you favourite animal block */
.watch-your-favourite-animal__content {
  width: 570px;
  padding-top: 210px;
  padding-bottom: 135px;
}
.hero-heading {
  font-family: 'SceneW01-Black', sans-serif;
  font-weight: 900;
  font-size: 70px;
  line-height: 85px;
  letter-spacing: 0.03em;
}
.watch-your-favourite-animal__button {
  margin-top: 50px;
}
.button {
  background-color: #70cb0e;
  -webkit-transition: width 1s, height 1s, background-color 1s, -webkit-transform 1s;
  transition: width 1s, height 1s, background-color 1s, transform 1s;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: block;
  text-align: center;
}
.button:hover {
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}
.button:active {
  background: #5eac0b;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.button--play {
  padding-top: 15px;
  width: 233px;
  height: 51px;
}

/* How it works block */
.heading {
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  font-weight: 500;
}
.heading::first-letter {
  text-transform: capitalize;
}
.how-it-works__container {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}
.content {
  padding-top: 100px;
}
.pets-wrapper {
  max-width: 1370px;
  height: 577px;
  width: 100%;
  margin: 0 auto;
  background-image: url(../../assets/images/pets-parallax/background.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
.carousel {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
.carousel__list {
  display: flex;
  margin: 0 auto;
  flex: 0 0 100%;
  list-style: none;
  padding-top: 55px;
  padding-bottom: 1.4em;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  height: 555px;
  position: relative;
  width: 100%;
  perspective: 555px;
}
.carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  position: absolute;
  transition: all 0.3s ease-in;
}
.pet-image {
  width: 250px;
}
.carousel__item[data-pos='-2'] {
  z-index: 3;
  transform: translateX(-223%) scaleX(1.1);
}
.carousel__item[data-pos='-1'] {
  z-index: 4;
  transform: translateX(-120%) scale(1.23);
}
.carousel__item[data-pos='0'] {
  z-index: 5;
  transform: translateX(0%) scale(1.399);
}
.carousel__item[data-pos='1'] {
  z-index: 4;
  transform: translateX(120%) scale(1.23);
}
.carousel__item[data-pos='2'] {
  z-index: 3;
  transform: translateX(223%) scaleY(1.1);
}
.pets-images__article {
  margin: 0 auto;
  text-align: center;
  padding-top: 32px;
  max-width: 933px;
  width: 100%;
}
.pets-images__text {
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 100px;
}
.coupons__text {
  padding-bottom: 30px;
  color: #418ce2;
}

/* Pets in zoo block */
.auto-carousel {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 630px;
  margin-top: 4.4em;
  position: relative;
}
.slider-box__wrapper {
  width: 100%;
  position: absolute;
  text-align: center;
}
.slider-box {
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.arrow {
  border: none;
  background-color: transparent;
  align-self: center;
  width: 64px;
  height: 63px;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 13%;
}
#arrow-prev {
  top: 50%;
  left: -115px;
  transform: translate(50%, -50%);
}
#arrow-next {
  top: 50%;
  right: -115px;
  transform: translate(-50%, -50%);
}
.arrow-left:hover,
.arrow-right:hover {
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}
.arrow-left:active,
.arrow-right:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.feedback__slides {
  display: flex;
  justify-content: space-between;
}
.cards {
  position: relative;
  animation: 0.5s ease-in-out;
  display: none;
  grid-column-gap: 20px;
}
.cards::-webkit-scrollbar {
  height: 0;
}
.active,
.next {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 30px;
  grid-column-gap: 20px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}
.next {
  position: absolute;
  top: 0;
  width: 85%;
}
.to-left {
  animation-name: left;
}
.from-right {
  animation-name: right;
}
.to-right {
  animation-name: right;
  animation-direction: reverse;
}
.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
.card-wrapper {
  position: relative;
  overflow: hidden;
  width: 233px;
  height: 300px;
  list-style: none;
}
.card-wrapper:hover {
  transform: matrix(1.05, 0, 0, 1.05, 0, 0);
  -webkit-transition: width 1s, height 1s, background-color 1s, -webkit-transform 1s;
  transition: width 1s, height 1s, background-color 1s, transform 1s;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}
.card {
  text-align: center;
  text-decoration: none;
}
.card-image {
  width: 233px;
  height: 300px;
}
.card-caption {
  position: absolute;
  text-align: center;
  top: 15px;
  width: 100%;
}
.card-name {
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
}
.pets-in-zoo__button {
  margin-top: 2.6em;
  padding-bottom: 100px;
}
.choose-your-favourite__button {
  width: 286px;
  height: 51px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Pay and feed block */
.pay-and-feed__icons {
  margin: 0 auto;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  max-width: 1051px;
  width: 100%;
  padding-bottom: 97px;
  background-image: url(../../assets/icons/pay/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: -120px;
  background-position-x: 210px;
}
.arrow-icon {
  position: absolute;
  transform: matrix(1, 0, 0, 1, 212, -192);
}
.icon__caption {
  line-height: 19px;
  font-size: 16px;
  max-width: 312px;
  width: 100%;
  margin-top: -43px;
  text-align: center;
}

/* Testimonials block */
.feedback-slider-box_wrapper {
  padding-top: 60px;
  margin-bottom: 125px;
}
.feedback-slider-box {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 1015px;
}
.feedback__card-wrapper {
  max-width: 233px;
  height: 369px;
  display: flex;
  flex: 0 1 auto;
  margin: 15px 10px;
}
.feedback__card {
  width: 100%;
  background-color: #a7e1ff;
  padding: 22px 20px;
  margin: 15px 10px;
  max-width: 233px;
  min-height: 369px;
}
.card-info {
  margin-bottom: 15px;
}
.feedback__card-caption {
  display: inline-block;
  width: 109px;
  height: 37px;
  padding-left: 5px;
  vertical-align: super;
}
.person-image {
  border-radius: 50%;
}
.person-name {
  width: 130px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.person-donation::before {
  content: url(../../assets/icons/pay/money.svg);
  margin-right: 3px;
}
.person-donation {
  display: flex;
  align-items: flex-end;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
}
.card-text {
  font-size: 16px;
  line-height: 19px;
}
.feedback__button {
  padding-top: 35px;
}
.leave-feedback__button {
  margin: 0 auto;
  width: 246px;
  height: 51px;
}
#arrow-left {
  top: 50%;
  left: -173px;
  transform: translate(50%, -50%);
}
#arrow-right {
  top: 50%;
  right: -173px;
  transform: translate(-50%, -50%);
}
.cover {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.form-feedback {
  width: 630px;
  height: 436px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  top: calc(50vh - 320px);
  left: calc(50vw - 240px);
  background-color: #fff;
}
.form-feedback--cross {
  width: 40px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 25px;
}
.form-feedback--cross:after {
  content: '';
  height: 40px;
  border-left: 1px solid #000;
  position: absolute;
  transform: rotate(45deg);
  left: 28px;
}
.form-feedback--cross:before {
  content: '';
  height: 40px;
  border-left: 1px solid #000;
  position: absolute;
  transform: rotate(-45deg);
  left: 28px;
}
.form-content {
  width: 470px;
  height: 336px;
}
.input,
.textarea {
  border: 1px solid #9ca498;
  padding: 10px 11px 10px;
}
#name,
#email,
.textarea-feedback {
  background-color: #dff5b0;
}
.input {
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
}
textarea {
  width: 100%;
  height: 180px;
  margin-bottom: 20px;
}
#send,
#next {
  background-color: #70cb0e;
  margin: 0 auto;
  width: 177px;
  height: 40px;
}
.form-donate {
  width: 630px;
  height: 339px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  top: calc(50vh - 320px);
  left: calc(50vw - 240px);
  background-color: #fff;
}
.form-donate-content {
  width: 470px;
  height: 239px;
}
#animal-list {
  width: 100%;
  height: 39px;
  background-color: #dff5b0;
  text-align-last: center;
}
#amount {
  width: 303px;
  margin-right: 3px;
}
#currency {
  width: 159px;
  height: 39px;
}
#animal-list,
#amount,
#currency {
  margin-bottom: 8px;
}
.textarea-donate {
  height: 85px;
}
.form-pay {
  width: 630px;
  height: 389px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  top: calc(50vh - 320px);
  left: calc(50vw - 240px);
  background-color: #fff;
}
.form-background-card {
  position: absolute;
  width: 358px;
  height: 203px;
  left: 50px;
  top: 50px;
  background: linear-gradient(0deg, #dcdcdc, #dcdcdc), linear-gradient(0deg, #dcdcdc, #dcdcdc), #dcdcdc;
  border-radius: 10px;
  z-index: 1;
}
.form-background-card-back {
  position: absolute;
  width: 326px;
  height: 189px;
  left: 254px;
  top: 100px;
  background: #c6c5c5;
  border-radius: 10px;
  z-index: 0;
}
#card-number,
#cadholder-name {
  width: 306px;
}
#card-month,
#card-year {
  width: 80px;
}
.card-number,
.card-month,
.card-year,
.cardholder-name,
.cvc {
  text-align-last: center;
}
.card-number {
  position: absolute;
  width: 306px;
  height: 39px;
  left: 26px;
  top: 35px;
  display: flex;
}
.card-month {
  position: absolute;
  left: 26px;
  top: 82px;
}
.card-year {
  position: absolute;
  left: 110px;
  top: 82px;
}
.cardholder-name {
  position: absolute;
  left: 26px;
  top: 129px;
  display: flex;
}
.cvc-background--bold-stripe {
  width: 326px;
  position: absolute;
  height: 37px;
  left: -217px;
  top: -45px;
  background: linear-gradient(0deg, #a8a8a8, #a8a8a8), linear-gradient(0deg, #a8a8a8, #a8a8a8), linear-gradient(0deg, #a8a8a8, #a8a8a8), linear-gradient(0deg, #a8a8a8, #a8a8a8),
    linear-gradient(0deg, #a8a8a8, #a8a8a8), linear-gradient(0deg, #a8a8a8, #a8a8a8), #a8a8a8;
}
.cvc-background--thin-stripe {
  position: absolute;
  content: '';
  width: 326px;
  height: 5px;
  left: -217px;
  background: linear-gradient(0deg, #a8a8a8, #a8a8a8), linear-gradient(0deg, #a8a8a8, #a8a8a8), linear-gradient(0deg, #a8a8a8, #a8a8a8), linear-gradient(0deg, #a8a8a8, #a8a8a8),
    linear-gradient(0deg, #a8a8a8, #a8a8a8), linear-gradient(0deg, #a8a8a8, #a8a8a8), #a8a8a8;
  z-index: -1;
}
.thin-stripe-1 {
  top: 0;
}
.thin-stripe-2 {
  top: 10px;
}
.thin-stripe-3 {
  top: 20px;
}
.thin-stripe-4 {
  top: 30px;
}
.cvc {
  position: absolute;
  width: 75px;
  height: 35px;
  left: 215px;
  top: 73px;
  display: flex;
}
#cvc {
  width: 75px;
  height: 35px;
}
#pay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 150px;
  height: 40px;
  left: calc(50% - 150px / 2);
  top: 309px;
}
input:invalid {
  border: 1px solid red;
}
.hidden {
  display: none;
}
#send.invalid {
  opacity: 50%;
}

/* Footer */
.footer {
  position: relative;
  height: 270px;
  width: 100%;
  background-color: #dff5b0;
}
.footer-background {
  background-image: url(../../assets/images/footer/footer.png);
  position: absolute;
  height: 323px;
  width: 100%;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-content {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-links__logo-button {
  display: flex;
  justify-content: space-between;
  max-width: 50px;
  width: 100%;
}
.footer-logo {
  transform: matrix(0.85, 0, 0, 0.85, -9, 0);
}
.donate__button--right {
  display: none;
}
.button--donate {
  width: 230px;
  padding: 15px;
}
.footer-links__links {
  display: flex;
  justify-content: space-between;
  max-width: 962px;
  width: 100%;
}
.footer-menu {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 15px;
  grid-column-gap: 80px;
}
.socials {
  max-width: 190px;
  width: 100%;
}
.social {
  display: flex;
  justify-content: space-between;
}
.footer-credentials {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}
.schools-logo {
  display: flex;
  justify-content: space-between;
  max-width: 295px;
  width: 100%;
}
.rss-logo,
.yd-logo {
  cursor: default;
}
.footer-copyright {
  display: flex;
  justify-content: space-between;
  max-width: 790px;
  width: 100%;
  align-self: flex-end;
  cursor: default;
}

@media screen and (max-width: 1440px) {
  .carousel__item[data-pos='-2'] {
    z-index: 0;
    transform: translateX(-179%) scale(1.1);
  }
  .carousel__item[data-pos='-1'] {
    z-index: 1;
    transform: translateX(-100%) scale(1.23);
  }
  .carousel__item[data-pos='0'] {
    z-index: 2;
    transform: translate(0) scale(1.399);
  }
  .carousel__item[data-pos='1'] {
    z-index: 1;
    transform: translateX(100%) scale(1.23);
  }
  .carousel__item[data-pos='2'] {
    z-index: 0;
    transform: translateX(179%) scale(1.1);
  }
  .cards {
    grid-gap: 25px 20px;
  }
}

@media screen and (max-width: 1199px) {
  .slider-box {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 730px;
    width: 100%;
    margin: 0 auto;
    grid-gap: 30px 20px;
  }
  #arrow-left {
    left: -105px;
  }
  #arrow-right {
    right: -105px;
  }
  #arrow-prev {
    left: 0;
  }
  #arrow-next {
    right: 0;
  }
  .cards {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
  }
  .card-wrapper {
    width: 210px;
  }
  .card-wrapper:nth-child(4) {
    display: none;
  }
  .card-wrapper:nth-child(8) {
    display: none;
  }
  .pets-in-zoo__button {
    margin-top: 145px;
  }
  .feedback-slider-box {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 730px;
    width: 100%;
    margin: 0 auto;
    grid-gap: 30px 20px;
  }
  .feedback__slides {
    padding: 0 10px;
  }
  .feedback__card:nth-child(4) {
    display: none;
  }
  .card-info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 22px;
  }
  .feedback__card-caption {
    width: 50px;
  }
  .person-name {
    width: 90px;
  }
  .feedback__button {
    padding-top: 45px;
  }
  .leave-feedback__button {
    width: 225px;
  }
  .footer-links__logo-button {
    max-width: 200px;
  }
  .footer-copyright {
    max-width: 655px;
  }
}

@media screen and (max-width: 1030px) {
  .pay-and-feed__icons {
    background-position-y: -100px;
    background-position-x: 215px;
    background-size: 600px;
  }
}

@media screen and (max-width: 1010px) {
  .pay-and-feed__icons {
    background-position-y: -90px;
    background-position-x: 210px;
    background-size: 580px;
  }
}

@media screen and (max-width: 980px) {
  .auto-carousel {
    margin-top: 4.1em;
  }
  .pets-images__text {
    line-height: 21px;
  }
  .slider-box {
    margin: 0 20px;
  }
  #arrow-left {
    left: 212px;
    top: 510px;
  }
  #arrow-right {
    right: 215px;
    top: 510px;
  }
  #arrow-prev {
    left: 212px;
    top: 690px;
  }
  #arrow-next {
    right: 215px;
    top: 690px;
  }
  .feedback__button {
    padding-top: 139px;
  }
  .icon__caption {
    max-width: 190px;
    margin: 0 auto;
    margin-top: -43px;
  }
  .pay-and-feed__icons {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    background-image: url(../../assets/icons/pay/arrow-circle.svg);
    padding-top: 90px;
    justify-content: center;
    background-position: center;
    background-position-x: 119px;
    height: auto;
  }
  .footer-background {
    height: 383px;
  }
  .footer {
    height: 330px;
  }
  .footer-content {
    padding: 5px 20px;
  }
  .footer-links__logo-button {
    max-width: 102px;
    width: 100%;
  }
  .footer-links__links {
    max-width: 570px;
  }
  .donate__button--left {
    display: none;
  }
  .donate__button--right {
    display: block;
  }
  .button--donate {
    width: 280px;
  }
  .footer-menu {
    row-gap: 16px;
    column-gap: 50px;
  }
  .footer-credentials {
    flex-wrap: wrap;
    padding: 45px 20px 0;
  }
  .schools-logo {
    max-width: 360px;
  }
  .footer-copyright {
    padding-top: 45px;
    display: flex;
    flex-flow: column;
    text-align: center;
  }
  .copyright {
    order: 2;
    padding: 10px 0;
  }
  .designer {
    order: 1;
  }
}

@media screen and (max-width: 768px) {
  .carousel__item[data-pos='-2'],
  .carousel__item[data-pos='2'] {
    display: none;
  }
  .carousel__item[data-pos='-1'] {
    transform: translateX(-105%) scale(1.23);
  }
  .carousel__item[data-pos='0'] {
    transform: translate(0%) scale(1.399);
  }
  .carousel__item[data-pos='1'] {
    transform: translateX(105%) scale(1.23);
  }
  .slider-box__wrapper {
    max-width: 600px;
  }
  .slider-box {
    margin: auto;
  }
  .card-wrapper {
    width: 190px;
  }
  .pay-and-feed__icons {
    background-image: url(../../assets/icons/pay/arrow-circle.svg);
    flex-flow: wrap;
    padding-top: 90px;
    justify-content: center;
    background-position: center;
    background-position-x: 119px;
    height: auto;
  }
  .button--donate {
    width: 210px;
  }
  .footer-links__links {
    max-width: 447px;
    width: 100%;
    padding-top: 2px;
  }
  .footer-menu {
    row-gap: 16px;
    column-gap: 15px;
  }
  .footer-credentials {
    flex-wrap: wrap;
    padding: 45px 20px 0;
  }
  .schools-logo {
    max-width: 310px;
  }
}

@media screen and (max-width: 640px) {
  .header__content {
    max-width: 590px;
    padding-top: 10px;
    padding-left: 18px;
  }
  .nav {
    max-width: 446px;
  }
  .hero {
    height: 700px;
    background: url(../../assets/images/hero/hero-640.png), radial-gradient(71.89% 152.21% at 40.1% 50%, #b5e6ff 0%, #59c3fb 100%);
    background-repeat: no-repeat;
  }
  .watch-your-favourite-animal__content {
    max-width: 425px;
    padding-top: 150px;
    padding-left: 18px;
  }
  .hero-heading {
    font-size: 50px;
    line-height: 60px;
  }
  .button--play {
    width: 187px;
  }
  .how-it-works__container,
  .carousel,
  .pets-wrapper {
    max-width: 640px;
  }
  .pets-images__article {
    max-width: 536px;
  }
  #arrow-prev {
    left: 195px;
  }
  #arrow-next {
    right: 195px;
  }
  .icon__caption {
    max-width: 190px;
    margin: 0 auto;
    margin-top: -43px;
  }
  .pay-and-feed__icons {
    height: auto;
    background-image: none;
    padding-top: 80px;
  }
  .icon-zoo {
    position: relative;
  }
  .icon-zoo::after,
  .icon-zoo::before {
    content: url(../../assets/icons/pay/arrow-down.png);
    position: relative;
    left: 150px;
  }
  .icon-zoo::after {
    top: 22px;
  }
  .icon-zoo::before {
    top: 20px;
  }
  .heading--testimonials {
    padding-top: 10px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  .header__content {
    padding-left: 10px;
  }
  .nav {
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 300px;
    transform: translate(100%, 0px);
    background-color: #a7e1ff;
    padding: 40px 30px 30px 30px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .nav--active {
    transform: translate(0px, 0px);
  }
  .menu__burger {
    z-index: 5;
    display: block;
    position: relative;
    width: 36px;
    height: 22px;
    cursor: pointer;
    right: 10px;
    top: 18px;
  }
  .menu__burger::before,
  .menu__burger::after {
    content: '';
  }
  .menu__burger::before {
    top: 0px;
  }
  .menu__burger::after {
    bottom: 0px;
  }
  .menu__burger span {
    top: 10px;
  }
  .menu__burger::before,
  .menu__burger::after,
  .menu__burger span {
    height: 2px;
    width: 100%;
    position: absolute;
    background: #000;
    margin: 0 auto;
  }
  .menu {
    flex-flow: column;
    max-height: 222px;
    height: 100%;
  }
  .menu__item:not(:first-child) {
    padding-bottom: 20px;
  }
  .menu__link {
    font-family: 'Rubik';
    font-size: 22px;
    line-height: 28.6px;
  }
  .menu__item--cross {
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 25px;
  }
  .menu__item--cross:after {
    content: '';
    height: 40px;
    border-left: 1px solid #000;
    position: absolute;
    transform: rotate(45deg);
    left: 28px;
  }
  .menu__item--cross:before {
    content: '';
    height: 40px;
    border-left: 1px solid #000;
    position: absolute;
    transform: rotate(-45deg);
    left: 28px;
  }
  .hero {
    background: url(../../assets/images/hero/hero-320.png), radial-gradient(71.89% 152.21% at 40.1% 50%, #b5e6ff 0%, #59c3fb 100%);
    background-repeat: no-repeat;
  }
  .watch-your-favourite-animal__content {
    max-width: 220px;
    width: 100%;
    padding-left: 10px;
  }
  .button--play {
    width: 220px;
  }
  .carousel__item[data-pos='-2'] {
    display: block;
    z-index: 4;
    transform: translateX(28%) translateY(-25%) scale(0.64);
  }
  .carousel__item[data-pos='-1'] {
    z-index: 3;
    transform: translateX(-28%) translateY(-38%) scale(0.64);
  }
  .carousel__item[data-pos='0'] {
    z-index: 5;
    transform: translateX(-20%) translateY(24%) scale(0.64);
  }
  .carousel__item[data-pos='1'] {
    z-index: 3;
    transform: translateX(28%) translateY(38%) scale(0.64);
  }
  .pets-images__article {
    max-width: 300px;
    padding-top: 30px;
  }
  .pets-images__text {
    line-height: 21px;
  }
  .slider-box__wrapper {
    padding-top: 0;
    max-width: 300px;
  }
  .slider-box {
    margin: auto;
  }
  .cards {
    grid-template-columns: auto auto;
    grid-gap: inherit;
  }
  .card-wrapper {
    width: 150px;
  }
  .card-wrapper:nth-child(7),
  .card-wrapper:nth-child(2) {
    display: none;
  }
  .card-wrapper:nth-child(3),
  .card-wrapper:nth-child(5) {
    display: block;
  }
  .card-caption {
    max-width: 90px;
    left: 25px;
  }
  #arrow-prev {
    left: 44px;
  }
  #arrow-next {
    right: 44px;
  }
  .choose-your-favourite__button {
    width: 300px;
  }
  .feedback-slider-box {
    max-width: 300px;
  }
  .feedback__slides {
    flex-flow: column;
    padding: 0;
  }
  .feedback__card {
    max-width: 300px;
    width: 100%;
    padding: 24px 20px 22px;
    margin: 15px 10px 0px;
    min-height: fit-content;
  }
  .feedback__card:nth-child(3) {
    display: none;
  }
  .feedback__card-caption,
  .person-name {
    width: 200px;
  }
  .feedback__card-caption,
  .person-name,
  .person-donation {
    padding-left: 4px;
  }
  #arrow-left {
    left: 43px;
    top: 614px;
  }
  #arrow-right {
    right: 43px;
    top: 614px;
  }
  .footer-background {
    height: 825px;
    background-size: inherit;
  }
  .footer {
    height: 773px;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .footer-links__logo-button {
    align-self: center;
  }
  .footer-links__links {
    flex-flow: column;
  }
  .footer-nav {
    padding-top: 37px;
  }
  .footer-menu {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 36px);
    grid-row-gap: 0px;
  }
  .footer-menu-item:nth-child(2) {
    grid-row: 3;
  }
  .footer-menu-item:nth-child(3) {
    grid-row: 2;
  }
  .menu__link--footer {
    font-family: 'Roboto';
    font-size: 18px;
  }
  .socials {
    order: 3;
    align-self: center;
    padding-top: 10px;
  }
  .footer-credentials {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 10px;
  }
  .schools-logo {
    padding: 0;
    order: 1;
    position: relative;
    max-width: 600px;
  }
  .yd-logo {
    padding-left: 60px;
  }
  .donate__button--right {
    display: none;
  }
  .donate__button--left {
    display: block;
    order: 2;
    width: 213px;
    margin: 0 auto;
    padding: 40px 0;
  }
  .button--donate {
    padding: 13px 16.5px;
  }
  .copyright {
    order: 2;
    width: 90%;
    padding-top: 2px;
    padding-left: 32px;
  }
  .copyright span {
    display: none;
  }
  .designer {
    order: 1;
    margin: -13px 60px 8px;
  }
  .footer-copyright {
    width: 100%;
    margin: 0 auto;
    order: 2;
    padding-top: 58px;
    padding-left: 5px;
  }
}
