@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto/Roboto-Regular.ttf);
  font-family: 'SceneW01-Black';
  src: url(/fonts/SceneW01-Black.ttf);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.header {
  position: absolute;
  width: 100%;
}
.heading--hidden {
  visibility: hidden;
  position: absolute;
}
.container {
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
}
.header__content {
  display: flex;
  justify-content: space-between;
  max-width: 578px;
  width: 100%;
}
.logo {
  margin-top: 12px;
}
.navigation {
  margin-top: 30px;
  width: 410px;
}
.menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
}
.menu__item {
  list-style: none;
}
.menu__item::first-letter {
  text-transform: capitalize;
}
.menu__link {
  text-decoration: none;
}
.menu__link:hover {
  border-bottom-style: outset;
  border-color: #70cb0e;
}
.menu__link--active {
  pointer-events: none;
  text-shadow: #70cb0e 0 0 2px, #70cb0e 0 0 2px, #70cb0e 0 0 2px, #70cb0e 0 0 2px;
}
.hero {
  background-image: url(/assets/images/hero/hero.png), radial-gradient(71.89% 152.21% at 40.1% 50%, #b5e6ff 0%, #59c3fb 100%);
  background-position: center;
  background-repeat: no-repeat;
}
.watch-your-favourite-animal {
  padding-top: 210px;
  padding-bottom: 137px;
  max-width: 570px;
  width: 100%;
}
.watch-your-favourite-animal__text {
  font-family: 'SceneW01-Black', sans-serif;
  font-weight: 900;
  font-size: 70px;
  line-height: 120%;
  letter-spacing: 0.03em;
}
.watch-your-favourite-animal__button {
  margin-top: 50px;
}
.button {
  background-color: #70cb0e;
  -webkit-transition: width 1s, height 1s, background-color 1s, -webkit-transform 1s;
  transition: width 1s, height 1s, background-color 1s, transform 1s;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.button:hover {
  background-color: #74d40d;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.button:active {
  background: #5eac0b;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.button--play {
  display: block;
  padding-top: 15px;
  text-align: center;
  width: 233px;
  height: 51px;
}
.how-it-works {
  margin-top: 100px;
}
.heading {
  text-align: center;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.6px;
}
.heading::first-letter {
  text-transform: capitalize;
}
.how-it-works__container {
  margin: 0 auto;
  max-width: 1365px;
  width: 100%;
}
.pets-images {
  display: flex;
  list-style: none;
  margin-top: 29px;
  padding-bottom: 48px;
  align-items: center;
  background-image: url(/assets/images/pets-parallax/background.svg);
  background-repeat: no-repeat;
  background-position: left;
}
.pets-images__image {
  display: flex;
  padding-top: 51px;
}
.pets-images__image--eagle {
  z-index: 0;
  transform: matrix(0.8, 0, 0, 0.8, -40, 0);
}
.pets-images__image--tiger {
  z-index: 1;
  transform: matrix(0.9, 0, 0, 0.9, -142, 0);
}
.pets-images__image--panda {
  z-index: 2;
  transform: matrix(1, 0, 0, 1, -195, 0);
}
.pets-images__image--monkey {
  z-index: 1;
  transform: matrix(0.9, 0, 0, 0.9, -250, 0);
}
.pets-images__image--elephant {
  z-index: 0;
  transform: matrix(0.8, 0, 0, 0.8, -350, 0);
}
.pets-images__article {
  margin: 0 auto;
  text-align: center;
  padding-top: 32px;
  max-width: 933px;
  width: 100%;
}
.pets-images__text {
  font-size: 16px;
  line-height: 140%;
}
.coupons__text {
  padding-bottom: 30px;
  color: #418CE2;
}