@font-face {
  font-family: 'Roboto';
  src: url(../../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'SceneW01-Black';
  src: url(../../fonts/SceneW01-Black.ttf);
}
@font-face {
  font-family: 'BebasNeue-Regular';
  src: url(../../fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.header {
  position: absolute;
  width: 100%;
}
.header__heading--hidden {
  visibility: hidden;
  position: absolute;
}
.page404 {
  background-image: url(../../assets/404/404.png);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 700px;
  margin: 6% 2% 0 auto;
}
.heading-title {
  font-size: 70px;
  font-weight: bold;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  width: 100%;
  position: relative;
  top: 660px;
}
.heading-text {
  text-transform: uppercase;
  color: #59c3fb;
  font-size: 20px;
  line-height: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 675px;
}
.heading-text:hover {
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}
.heading-title,
.heading-text {
  font-family: 'BebasNeue-Regular';
}
.link {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .page404 {
    margin: 0 auto;
    width: 550px;
    height: 582px;
    margin-top: 7%;
    background-size: contain;
  }
  .heading-title {
    top: 610px;
  }
  .heading-text {
    top: 620px;
  }
}

@media screen and (max-width: 640px) {
  .page404 {
    margin: 0 auto;
    width: 260px;
    height: 296px;
    margin-top: -24%;
    background-size: contain;
  }
  .heading-title {
    top: 470px;
    font-size: 40px;
    line-height: 40px;
  }
  .heading-text {
    top: 480px;
    font-size: 16px;
    line-height: 16px;
  }
}
