@font-face {
  font-family: 'Roboto';
  src: url(../../../fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url(../../../fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 500;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

/* Header */
.header {
  position: absolute;
  width: 100%;
}
.header__heading--hidden {
  visibility: hidden;
  position: absolute;
}
.container {
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
}
.content {
  padding-top: 100px;
}
.header__content {
  display: flex;
  justify-content: space-between;
  max-width: 578px;
  width: 100%;
  padding-top: 12px;
}
.nav {
  max-width: 410px;
  width: 100%;
  align-self: center;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.menu__item {
  list-style: none;
}
.menu__item::first-letter {
  text-transform: capitalize;
}
.menu__link {
  text-decoration: none;
  font-weight: 500;
}
.menu__link--footer {
  font-weight: 400;
}
.menu__link:hover {
  text-shadow: #70cb0e 0 0 2px, #70cb0e 0 0 2px, #70cb0e 0 0 2px, #70cb0e 0 0 2px;
}
.menu__link--active {
  pointer-events: none;
  text-shadow: #70cb0e 0 0 2px, #70cb0e 0 0 2px, #70cb0e 0 0 2px, #70cb0e 0 0 2px;
}
.button {
  background-color: #70cb0e;
  -webkit-transition: width 1s, height 1s, background-color 1s, -webkit-transform 1s;
  transition: width 1s, height 1s, background-color 1s, transform 1s;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 15px;
}
.button:hover {
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}
.button:active {
  background: #5eac0b;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

/* Main content heading */
.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}
.main {
  width: 100%;
  margin-left: calc(-1160px - 111px);
}
.heading-container {
  padding-top: 5%;
}
.heading {
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.6px;
  font-weight: 500;
}
.heading::first-letter {
  text-transform: capitalize;
}

/* Sidebar */
.sidebar {
  position: sticky;
  display: flex;
  top: 0;
  height: fit-content;
  z-index: 1;
}
.sidebar-menu {
  background: url(../../../assets/images/pets-sidebar/sidebar-background.svg) center no-repeat;
  margin-top: 290px;
  width: 111px;
  height: 380px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}
.sidebar-menu__arrow {
  display: flex;
  visibility: hidden;
  margin-top: 290px;
  margin-bottom: 380px;
}
.sidebar-icon {
  list-style: none;
  position: relative;
  border-radius: 50%;
}
.icon-container:hover {
  box-shadow: 0 0 0 4px #74d40d, 0 0 13px #74d40d;
}
.icon-container {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0 2px #fff, 0 0 13px #fff;
}
.icon-active .icon-container {
  pointer-events: none;
  box-shadow: 0 0 0 4px #74d40d, 0 0 13px #74d40d;
}
.tooltip {
  visibility: hidden;
  position: absolute;
  width: 102px;
  height: 47px;
  margin-left: 76px;
  margin-top: -53px;
  background-color: #74d40d;
  text-align: center;
  padding-top: 5px;
  z-index: 2;
}
.tooltip-block {
  position: relative;
}
.tooltip-block::before {
  position: absolute;
  content: '';
  left: -15px;
  bottom: 10px;
  border: 7px solid transparent;
  border-top: 10px solid #74d40d;
  transform: rotate(90deg);
}
.tooltip-heading {
  text-transform: uppercase;
}
.tooltip-location::first-letter {
  text-transform: capitalize;
}
.sidebar-icon:hover .tooltip {
  visibility: visible;
}
.text {
  font-size: 16px;
  line-height: 19px;
}

/* Animal block */
.video-container {
  padding-top: 80px;
  margin-bottom: 50px;
}
.playlist {
  display: grid;
  grid-gap: 1.8%;
}
.main-item {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}
.item1 {
  grid-column: 1;
  grid-row: 2 / 3;
}
.item4 {
  grid-column: 4;
  grid-row: 2 / 3;
}

/* Info block */
.info-container {
  margin-bottom: 125px;
}
.info {
  display: grid;
  grid-gap: 20px;
  background-color: #a7e1ff;
  width: inherit;
  padding-top: 10px;
  padding-bottom: 11px;
}
.info1 {
  grid-column: 1;
  grid-row: 1;
  padding-left: 20px;
  width: 570px;
}
.info2 {
  grid-row: 1;
  grid-column: 2;
  padding-left: 20px;
  width: 570px;
}
.spoilers {
  display: grid;
  grid-gap: 20px;
}
.spoiler-details {
  background: #a7e1ff;
  width: 570px;
  overflow: hidden;
}
.spoiler-details:not([open]) {
  height: 61px;
}
.spoiler-details[open] {
  min-height: 142px;
}
.spoiler-details1 {
  grid-row: 2;
  grid-column: 1;
}
.spoiler-details2 {
  grid-row: 2;
  grid-column: 2;
}
.spoiler-details3 {
  grid-row: 3;
  grid-column: 1;
}
.spoiler-details4 {
  grid-row: 3;
  grid-column: 2;
}
.spoiler-summary::marker {
  display: none;
}
.spoiler-summary::-moz-list-bullet {
  list-style-type: none;
}
.spoiler-summary::marker {
  display: none;
}
.spoiler-summary {
  display: block;
  padding-top: 20px;
  margin-left: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
}
.spoiler-summary:before {
  top: 10%;
  left: 88.7%;
  color: transparent;
  background: url(../../../assets/icons/buttons/arrow-right.svg) no-repeat 50% 50% / 45px 45px;
  transform: rotate(90deg);
  width: 45px;
  height: 45px;
  content: '';
  position: absolute;
  transition: transform 0.5s;
}
.spoiler-details[open] .spoiler-summary:before {
  transform: rotate(-90deg);
  top: 85%;
  left: 88.7%;
}
.spoiler-content {
  width: 470px;
  margin-left: 20px;
  margin-top: -11px;
  padding-bottom: 3%;
}
.spoiler-details[open] .spoiler-text {
  animation: sweep 0.5s ease-in-out;
}
@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.spoiler-summary:focus {
  outline: 0;
}

/* Footer */
.footer {
  position: relative;
  height: 270px;
  width: 100%;
  background-color: #dff5b0;
}
.footer-background {
  background-image: url(../../../assets/images/footer/footer.png);
  position: absolute;
  height: 323px;
  width: 100%;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-content {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-links__logo-button {
  display: flex;
  justify-content: space-between;
  max-width: 430px;
  width: 100%;
}
.footer-logo {
  transform: matrix(0.85, 0, 0, 0.85, -9, 0);
}
.button--donate {
  width: 230px;
  padding: 15px;
}
.footer-links__links {
  display: flex;
  justify-content: space-between;
  max-width: 570px;
  width: 100%;
}
.footer-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 15px;
  grid-column-gap: 80px;
}
.socials {
  max-width: 190px;
  width: 100%;
}
.social {
  display: flex;
  justify-content: space-between;
}
.footer-credentials {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}
.schools-logo {
  display: flex;
  justify-content: space-between;
  max-width: 295px;
  width: 100%;
}
.rss-logo,
.yd-logo {
  cursor: default;
}
.footer-copyright {
  display: flex;
  justify-content: space-between;
  max-width: 790px;
  width: 100%;
  align-self: flex-end;
  cursor: default;
}

@media screen and (max-width: 1440px) {

  .sidebar-menu {
    display: none;
  }
  .sidebar-menu__arrow {
    z-index: 1;
    display: block;
    visibility: visible;
    margin-left: 20px;
    cursor: pointer;
  }
  .sidebar-menu__arrow:hover {
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  }
  .sidebar-menu__arrow--active {
    transform: rotateY(180deg);
  }
  .sidebar-menu--active {
    visibility: visible;
    display: flex;
  }

}