@font-face {
  font-family: 'Roboto';
  src: url(../../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'SceneW01-Black';
  src: url(../../fonts/SceneW01-Black.ttf);
}
@font-face {
  font-family: 'BebasNeue-Regular';
  src: url(../../fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.header {
  position: absolute;
  width: 100%;
}
.header__heading--hidden {
  visibility: hidden;
  position: absolute;
}
.page404 {
  padding-top: 3%;
  max-width: 675px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.ooops {
  position: absolute;
  margin-top: 1%;
  margin-left: 23%;
}
.main-heading {
  text-transform: capitalize;
  font-weight: 900;
  font-size: 100px;
  line-height: 125px;
  color: #f0f0f0;
}
.not-found {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  margin-top: -17%;
}
.heading-title {
  font-size: 70px;
  font-weight: bold;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #333333;
}
.text {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  margin-top: 2%;
}
.heading-text {
  text-transform: uppercase;
  color: #59c3fb;
  font-size: 20px;
  line-height: 16px;
  font-weight: bold;
  text-align: center;
}
.heading-text:hover {
  opacity: 70%;
}
.heading-title,
.heading-text {
  font-family: 'BebasNeue-Regular';
}
.link {
  text-decoration: none;
}